<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>弹幕管理</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" media="screen">
    <script src="/angularjs/angular.min.js"></script>
</head>
<body ng-app="danmuApp">
<div class="container" ng-controller="danmuController">
    <div>
        <span>系统时间: {{dt1 | date:'yyyy-MM-dd HH:mm:ss'}}</span>
    </div>
    <hr/>
    <div>
        <span>管理员：张三</span>
    </div>
    <hr/>
    <form class="form-horizontal">
        <div class="form-group">
            <!--
            <div class="col-sm-2">
                <div>用户列表</div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>弹幕</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in userlist">
                        <td>
                            <span ng-bind="x"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            -->
            <div class="col-sm-12">
                <div>弹幕列表(条数:{{sum}})</div>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>弹幕</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in danmulist">
                        <td>
                            <span ng-bind="x.message"></span>
                        </td>
                        <td>
                            <span>{{x.time | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                        </td>
                        <td>
                            <div ng-switch="x.lasttime">
                                <div ng-switch-when="0">
                                    <span>发送完毕</span>
                                </div>
                                <div ng-switch-default>
                                    <button ng-click="deal(x)">
                                        <span class="glyphicon glyphicon-delete"></span>剩余时间{{x.lasttime}}
                                        <!--{{ x.date | date:'ss' }}-->
                                    </button>
                                </div>
                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </form>
</div>
<script src="/bussiness/danmu.js"></script>
</body>
</html>